@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
  box-sizing: border-box;
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --regular-weight: 400;
  --bold-weight: 700;
}

*, ::before, ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: var(--regular-weight);
  color: var(--dark-grayish-blue);
}

b {
  font-weight: var(--bold-weight);
  color: var(--very-dark-desaturated-blue);
}

main {
  height: 100%;
  background: url("./images/bg-pattern-top.svg")
  , url("./images/bg-pattern-bottom.svg")
  , var(--dark-cyan);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 50vh right 50vw, top 50vh left 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1.5em;
}

@media only screen and (min-width: 35em) {
  main {
    background-size: 50vw;
    background-position: bottom 50vh right 50vw
    , top 50vh left 50vw;
  }
}

.card {
  width: 100%;
  max-width: 325px;
  flex-shrink: 0;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 5px 50px 1px #0003;
}

@media only screen and (min-width: 35em) {
  .card {
    width: 350px;
  }
}

.card-top {
  flex: 0 0 35%;
  background: url("./images/bg-pattern-card.svg");
}

.card-bottom {
  flex: 0 0 65%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}

.img-wrapper {
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 50%;
  border: 5px solid #fff;
  background: #fff;
}

.username {
  flex: 0 0 60%;
}

.username div:nth-of-type(1) {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
}
.username div:nth-of-type(2) {
  text-align: center;
}

.username div:nth-of-type(1) > b {
  margin-right: .3em;
}

.location {
  font-size: .8rem;
}

.details {
  flex: 0 0 35%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 20px;
  border-top: 1px solid rgb(231, 231, 231);
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detail {
  font-size: .7rem;
}

.detail > b {
  font-size: 1rem;
  margin-bottom: 5px;
}